.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;  
}
h1{
  font-size: 4rem;
  color: aliceblue;
}




button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button{
  background-color: green;

}
.add-button:hover{
  background-color: rgb(62, 199, 62);

}

.delete-button{
  background-color: rgb(150, 21, 21);

}
.delete-button:hover{
  background-color: rgb(231, 19, 40);

}

.move-button{
  background-color: rgb(29, 40, 162);

}
.move-button:hover{
  background-color: rgb(23, 115, 245);

}

.down-button{
  background-color: rgb(29, 40, 162);

}
.down-button:hover{
  background-color: rgb(23, 115, 245);

}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5)
}
ol{
  padding: 0;

}
li{
  font-size: 5rex;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;

}

.delete-button, .move-button , .down-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
body{
  background-color: rgb(42, 40, 40);
}






